body {
    background: url('joe-img/squared_metal.png') repeat;
}

.container button {
    background-image:url('joe-img/button1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius:50%;
    width:100px;
    height:100px;
}

.row {
    text-align:center;   
}

.panel {
    margin:auto;
    width:80%;   
}

.row {
    margin-top:15px;
}

button:focus {
    outline: none;
}

